:root {
  --spacing-1: 0.5rem;
  --spacing-2: 1rem;
  --spacing-1_5: 0.75rem;
  --spacing-2_5: 1.25rem;
  --spacing-0_5: 0.25rem;
  --spacing-3: 1.5rem;
  --spacing-4: 2rem;
  --spacing-5: 2.5rem;
  --spacing-6: 3rem;
  --spacing-7: 3.5rem;
  --spacing-8: 4rem;
  --spacing-9: 4.5rem;
  --spacing-10: 5rem;
  --font-0: 0.6875rem;
  --font-1: 0.75rem;
  --font-2: 0.875rem;
  --font-3: 1rem;
  --font-4: 1.125rem;
  --font-5: 1.25rem;
  --font-6: 1.375rem;
  --font-7: 1.5rem;
  --font-8: 1.75rem;
  --font-9: 2rem;
  --font-10: 2.25rem;
  --font-11: 2.5rem;
  --font-12: 3rem;
  --font-13: 3.5rem;
  --font-14: 4rem;
  --font-15: 4.5rem;
  --border-1: 0.0625rem;
  --border-1_5: 0.0625rem;
  --border-2: 0.125rem;
  --halfleading-text12: -0.125rem;
  --halfleading-text14: -0.125rem;
  --halfleading-text18: -0.125rem;
  --halfleading-text16: -0.125rem;
  --halfleading-text20: -0.125rem;
  --halfleading-title12: -0.125rem;
  --halfleading-title14: -0.125rem;
  --halfleading-title16: -0.125rem;
  --halfleading-title20: -0.125rem;
  --halfleading-title22: -0.125rem;
  --halfleading-title24: -0.125rem;
  --halfleading-title28: -0.1875rem;
  --halfleading-title32: -0.1875rem;
  --halfleading-title48: -0.125rem;
  --halfleading-title56: 0rem;
  --halfleading-title18: -0.125rem;
  --halfleading-titlekarnak16: -0.0625rem;
  --halfleading-titlekarnak18: -0.0625rem;
  --halfleading-labelstandard: -0.0625rem;
  --halfleading-labelemphasis: -0.0625rem;
  --halfleading-headline16: -0.0625rem;
  --halfleading-headline18: -0.125rem;
  --halfleading-headline24: -0.125rem;
  --halfleading-headline28: -0.125rem;
  --halfleading-headlinenews16: -0.0625rem;
  --halfleading-headlinenews18: -0.125rem;
  --halfleading-headlinenews20: -0.0625rem;
  --halfleading-headlinenews22: -0.0625rem;
  --halfleading-headlinenews28: -0.125rem;
  --halfleading-headlinenews32: -0.125rem;
  --halfleading-headlinenews36: -0.125rem;
  --halfleading-headlinenews40: -0.125rem;
  --halfleading-headlinenews48: -0.125rem;
  --halfleading-headlinefeature24: -0.125rem;
  --halfleading-headlinefeature28: -0.125rem;
  --halfleading-headlinefeature32: -0.125rem;
  --halfleading-headlinefeature48: -0.125rem;
  --halfleading-headlinefeature56: 0rem;
  --halfleading-headlineopinion18: -0.0625rem;
  --halfleading-headlineopinion20: -0.0625rem;
  --halfleading-headlineopinion22: -0.0625rem;
  --halfleading-headlineopinion24: -0.125rem;
  --halfleading-headlineopinion36: -0.125rem;
  --halfleading-headlineopinion56: -0.1875rem;
  --halfleading-body14: -0.125rem;
  --halfleading-body16: -0.1875rem;
  --halfleading-body18: -0.1875rem;
  --halfleading-body20: -0.3125rem;
  --spacing-media-components-itemcontenttoplabelpaddingbottom: -0.25rem;
  --media-height-95: 5.9375rem;
  --media-height-152: 9.5rem;
  --media-height-300: 18.75rem;
}
