:root {
  --content-primary: var(--gray-5);
  --content-secondary: var(--gray-30);
  --background-primary: var(--gray-95);
  --background-secondary: var(--gray-100);
  --content-primary-inverse: var(--gray-100);
  --content-placeholder: var(--gray-50);
  --content-primary-dim: var(--gray-15);
  --content-secondary-dim: var(--gray-40);
  --signal-accent: var(--new-blue-35);
  --signal-positive: var(--green-40);
  --signal-negative: var(--red-30);
  --signal-warning: var(--yellow-20);
  --background-tertiary: var(--gray-85);
  --background-scrim: #121212;
  --background-signal-accent: var(--new-blue-95);
  --background-signal-positive: var(--green-90);
  --background-signal-negative: var(--red-95);
  --background-signal-warning: var(--yellow-85);
  --stroke-primary: var(--gray-75);
  --stroke-secondary: var(--gray-85);
  --background-inverse-primary-userinverse: var(--gray-0);
  --utility-button-text: var(--gray-100);
  --categorical-cat1: #01a995;
  --categorical-cat2: #01a7b8;
  --categorical-cat3: #f4693a;
  --categorical-cat4: #e27522;
  --categorical-cat5: #fa5c8c;
  --categorical-cat6: #f060b1;
  --categorical-cat7: #e561df;
  --categorical-cat8: #8991e5;
  --categorical-cat1-background: #003029;
  --categorical-cat2-background: #0d2e33;
  --categorical-cat3-background: #4a1a08;
  --categorical-cat4-background: #40220e;
  --categorical-cat5-background: #540a25;
  --categorical-cat6-background: #461932;
  --categorical-cat7-background: #451743;
  --categorical-cat8-background: #202751;
  --state-colors-signal-accent-hover: #7fade3;
  --state-colors-signal-accent-active: #93bae8;
  --state-colors-signal-accent-disabled: #255579;
  --state-colors-signal-positive-hover: #77b369;
  --state-colors-signal-positive-active: #8bbe7a;
  --state-colors-signal-positive-disabled: #1a6119;
  --state-colors-signal-warning-hover: #feb951;
  --state-colors-signal-warning-active: #fdcc8b;
  --state-colors-signal-warning-disabled: #ad7300;
  --state-colors-signal-negative-hover: #e5636d;
  --state-colors-signal-negative-active: #f2a6aa;
  --state-colors-signal-negative-disabled: #82010a;
  --state-colors-content-primary-hover: #dfdfdf;
  --state-colors-content-primary-disabled: #8b8b8b;
  --state-colors-content-primary-dim-hover: #c7c7c7;
  --state-colors-content-primary-dim-disabled: #8b8b8b;
  --state-colors-content-secondary-hover: #a3a3a3;
  --state-colors-content-secondary-disabled: #7f7f7f;
  --state-colors-content-secondary-dim-hover: #8b8b8b;
  --state-colors-content-secondary-dim-disabled: #7f7f7f;
  --state-colors-content-placeholder-hover: #7f7f7f;
  --state-colors-background-primary-hover: #2a2a2a;
  --state-colors-background-primary-disabled: #2a2a2a;
  --state-colors-background-secondary-hover: #1e1e1e;
  --state-colors-background-secondary-disabled: #1e1e1e;
  --state-colors-background-tertiary-hover: #424242;
  --state-colors-background-tertiary-disabled: #424242;
  --state-colors-background-signal-accent-hover: #0c2255;
  --state-colors-background-signal-accent-active: #0f2a64;
  --state-colors-background-primary-active: #363636;
  --state-colors-background-secondary-active: #2a2a2a;
  --state-colors-background-signal-positive-hover: #143a0b;
  --state-colors-background-signal-positive-active: #16470f;
  --state-colors-background-signal-negative-hover: #5a0004;
  --state-colors-background-signal-negative-active: #6e0007;
  --state-colors-background-signal-warning-hover: #583800;
  --state-colors-background-signal-warning-active: #654100;
  --state-colors-background-tertiary-active: #4e4e4e;
  --state-colors-stroke-primary-hover: #666666;
  --state-colors-stroke-primary-active: #979797;
  --state-colors-stroke-primary-disabled: #363636;
  --state-colors-stroke-secondary-hover: #4e4e4e;
  --state-colors-stroke-secondary-active: #7f7f7f;
  --state-colors-stroke-secondary-disabled: #2a2a2a;
  --state-colors-categorical-cat1-hover: #34b4a0;
  --state-colors-categorical-cat1-active: #5ebcab;
  --state-colors-categorical-cat1-disabled: #a0d2c7;
  --state-colors-categorical-cat1-background-hover: #003c34;
  --state-colors-categorical-cat1-background-active: #01483f;
  --state-colors-categorical-cat2-hover: #31b2c2;
  --state-colors-categorical-cat2-active: #54bdcc;
  --state-colors-categorical-cat2-disabled: #8ed3de;
  --state-colors-categorical-cat2-background-hover: #063b41;
  --state-colors-categorical-cat2-background-active: #00474f;
  --state-colors-categorical-cat3-hover: #fb794c;
  --state-colors-categorical-cat3-active: #ff8d64;
  --state-colors-categorical-cat3-disabled: #ffb599;
  --state-colors-categorical-cat3-background-hover: #5f1e07;
  --state-colors-categorical-cat3-background-active: #732208;
  --state-colors-categorical-cat4-hover: #ee8335;
  --state-colors-categorical-cat4-active: #f9924a;
  --state-colors-categorical-cat4-disabled: #feb688;
  --state-colors-categorical-cat4-background-hover: #52290e;
  --state-colors-categorical-cat4-background-active: #65300c;
  --state-colors-categorical-cat5-hover: #fb7398;
  --state-colors-categorical-cat5-active: #fb8aa6;
  --state-colors-categorical-cat5-disabled: #fbb4c2;
  --state-colors-categorical-cat5-background-hover: #68092f;
  --state-colors-categorical-cat5-background-active: #7d0a39;
  --state-colors-categorical-cat6-hover: #f970bc;
  --state-colors-categorical-cat6-active: #ff83c6;
  --state-colors-categorical-cat6-disabled: #fbb2d6;
  --state-colors-categorical-cat6-background-hover: #591e40;
  --state-colors-categorical-cat6-background-active: #6c234d;
  --state-colors-categorical-cat7-hover: #e877e1;
  --state-colors-categorical-cat7-active: #eb8ce3;
  --state-colors-categorical-cat7-disabled: #f0b5e9;
  --state-colors-categorical-cat7-background-hover: #571c54;
  --state-colors-categorical-cat7-background-active: #682265;
  --state-colors-categorical-cat8-hover: #979ce8;
  --state-colors-categorical-cat8-active: #a6a9ea;
  --state-colors-categorical-cat8-disabled: #c4c5ed;
  --state-colors-categorical-cat8-background-hover: #283165;
  --state-colors-categorical-cat8-background-active: #2f3c7a;
}
