--gray-100: #121212;
--gray-95: #1e1e1e;
--gray-90: #2a2a2a;
--gray-85: #363636;
--gray-80: #424242;
--gray-75: #4e4e4e;
--gray-70: #5a5a5a;
--gray-65: #666666;
--gray-60: #727272;
--gray-55: #7f7f7f;
--gray-50: #8b8b8b;
--gray-45: #979797;
--gray-40: #a3a3a3;
--gray-35: #afafaf;
--gray-30: #bbbbbb;
--gray-25: #c7c7c7;
--gray-20: #d3d3d3;
--gray-15: #dfdfdf;
--gray-10: #ebebeb;
--gray-5: #f8f8f8;
--gray-0: #ffffff;
--new-blue-100: #061438;
--new-blue-95: #091a47;
--new-blue-90: #0c2255;
--new-blue-85: #0f2a64;
--new-blue-80: #143372;
--new-blue-75: #193d81;
--new-blue-70: #1e488f;
--new-blue-65: #23549d;
--new-blue-60: #2b61aa;
--new-blue-55: #346eb7;
--new-blue-50: #3d7cc4;
--new-blue-45: #478bd2;
--new-blue-40: #5996d7;
--new-blue-35: #6ba1dd;
--new-blue-30: #7fade3;
--new-blue-25: #93bae8;
--new-blue-20: #a7c7ee;
--new-blue-15: #bcd5f4;
--new-blue-10: #d2e4fa;
--new-blue-5: #e9f3ff;
--new-blue-0: #ffffff;
--interactive-blue-100: #0c283d;
--interactive-blue-95: #103049;
--interactive-blue-90: #153955;
--interactive-blue-85: #194261;
--interactive-blue-80: #1f4b6d;
--interactive-blue-75: #255579;
--interactive-blue-70: #2b5e85;
--interactive-blue-65: #326891;
--interactive-blue-60: #3c729a;
--interactive-blue-55: #477ca3;
--interactive-blue-50: #5386ac;
--interactive-blue-45: #6091b6;
--interactive-blue-40: #6e9cbf;
--interactive-blue-35: #7ca7c8;
--interactive-blue-30: #8cb3d1;
--interactive-blue-25: #9cbfda;
--interactive-blue-20: #adcce3;
--interactive-blue-15: #bfd9ed;
--interactive-blue-10: #d2e6f6;
--interactive-blue-5: #e6f4ff;
--interactive-blue-0: #ffffff;
--red-100: #330001;
--red-95: #470002;
--red-90: #5a0004;
--red-85: #6e0007;
--red-80: #82010a;
--red-75: #95010d;
--red-70: #a90111;
--red-65: #bc0216;
--red-60: #d0021b;
--red-55: #d41429;
--red-50: #d92739;
--red-45: #dd3a49;
--red-40: #e14e5b;
--red-35: #e5636d;
--red-30: #ea7980;
--red-25: #ee8f94;
--red-20: #f2a6aa;
--red-15: #f6bec0;
--red-10: #fbd6d7;
--red-5: #fff0f0;
--red-0: #ffffff;
--green-100: #081202;
--green-95: #0d1f04;
--green-90: #102c07;
--green-85: #143a0b;
--green-80: #16470f;
--green-75: #185414;
--green-70: #1a6119;
--green-65: #1f6f24;
--green-60: #267c30;
--green-55: #318736;
--green-50: #3d923d;
--green-45: #509d4a;
--green-40: #63a859;
--green-35: #77b369;
--green-30: #8bbe7a;
--green-25: #9fc98c;
--green-20: #b3d49f;
--green-15: #c6dfb4;
--green-10: #daeaca;
--green-5: #ecf5e1;
--green-0: #ffffff;
--yellow-100: #1c1305;
--yellow-95: #291b04;
--yellow-90: #392503;
--yellow-85: #492f01;
--yellow-80: #583800;
--yellow-75: #654100;
--yellow-70: #734b00;
--yellow-65: #845600;
--yellow-60: #936100;
--yellow-55: #a06a00;
--yellow-50: #ad7300;
--yellow-45: #bc7d00;
--yellow-40: #ca8701;
--yellow-35: #d99100;
--yellow-30: #e99c00;
--yellow-25: #ffab00;
--yellow-20: #feb951;
--yellow-15: #fdcc8b;
--yellow-10: #fcdeb9;
--yellow-5: #fcf0e2;
--yellow-0: #ffffff;
