:root {
  --content-primary: var(--gray-100);
  --content-secondary: var(--gray-70);
  --background-primary: var(--gray-0);
  --background-secondary: var(--gray-5);
  --content-primary-inverse: var(--gray-5);
  --content-placeholder: var(--gray-50);
  --content-primary-dim: var(--gray-85);
  --content-secondary-dim: var(--gray-60);
  --signal-accent: var(--new-blue-60);
  --signal-positive: var(--green-55);
  --signal-negative: var(--red-65);
  --signal-warning: var(--yellow-25);
  --background-tertiary: var(--gray-10);
  --background-scrim: #121212;
  --background-signal-accent: var(--new-blue-5);
  --background-signal-positive: var(--green-5);
  --background-signal-negative: var(--red-5);
  --background-signal-warning: var(--yellow-5);
  --stroke-primary: var(--gray-25);
  --stroke-secondary: var(--gray-15);
  --background-inverse-primary-userinverse: var(--gray-100);
  --utility-button-text: var(--gray-0);
  --categorical-cat1: #017b6c;
  --categorical-cat2: #017986;
  --categorical-cat3: #be360b;
  --categorical-cat4: #af4e02;
  --categorical-cat5: #cd1962;
  --categorical-cat6: #b73b83;
  --categorical-cat7: #ac3ea8;
  --categorical-cat8: #4c5bb1;
  --categorical-cat1-background: #ecf4f2;
  --categorical-cat2-background: #e7f5f7;
  --categorical-cat3-background: #ffeee8;
  --categorical-cat4-background: #ffefe5;
  --categorical-cat5-background: #fbeff1;
  --categorical-cat6-background: #f8f0f4;
  --categorical-cat7-background: #f9eff8;
  --categorical-cat8-background: #f2f1f8;
  --state-colors-signal-accent-hover: #23549d;
  --state-colors-signal-accent-active: #1e488f;
  --state-colors-signal-accent-disabled: #6ba1dd;
  --state-colors-signal-positive-hover: #1f6f24;
  --state-colors-signal-positive-active: #1a6119;
  --state-colors-signal-positive-disabled: #509d4a;
  --state-colors-signal-warning-hover: #f0a000;
  --state-colors-signal-warning-active: #d99100;
  --state-colors-signal-warning-disabled: #fdcc8b;
  --state-colors-signal-negative-hover: #a90111;
  --state-colors-signal-negative-active: #95010d;
  --state-colors-signal-negative-disabled: #e14e5b;
  --state-colors-content-primary-hover: #4e4e4e;
  --state-colors-content-primary-disabled: #8b8b8b;
  --state-colors-content-primary-dim-hover: #4e4e4e;
  --state-colors-content-primary-dim-disabled: #8b8b8b;
  --state-colors-content-secondary-hover: #7f7f7f;
  --state-colors-content-secondary-disabled: #8b8b8b;
  --state-colors-content-secondary-dim-hover: #7f7f7f;
  --state-colors-content-secondary-dim-disabled: #8b8b8b;
  --state-colors-content-placeholder-hover: #5a5a5a;
  --state-colors-background-primary-hover: #f8f8f8;
  --state-colors-background-primary-disabled: #f8f8f8;
  --state-colors-background-secondary-hover: #ebebeb;
  --state-colors-background-secondary-disabled: #ebebeb;
  --state-colors-background-tertiary-hover: #dfdfdf;
  --state-colors-background-tertiary-disabled: #dfdfdf;
  --state-colors-background-signal-accent-hover: #d2e4fa;
  --state-colors-background-signal-accent-active: #bcd5f4;
  --state-colors-background-primary-active: #ebebeb;
  --state-colors-background-secondary-active: #dfdfdf;
  --state-colors-background-signal-positive-hover: #daeaca;
  --state-colors-background-signal-positive-active: #c6dfb4;
  --state-colors-background-signal-negative-hover: #fbd6d7;
  --state-colors-background-signal-negative-active: #f6bec0;
  --state-colors-background-signal-warning-hover: #fcdeb9;
  --state-colors-background-signal-warning-active: #fdcc8b;
  --state-colors-background-tertiary-active: #d3d3d3;
  --state-colors-stroke-primary-hover: #979797;
  --state-colors-stroke-primary-active: #7f7f7f;
  --state-colors-stroke-primary-disabled: #dfdfdf;
  --state-colors-stroke-secondary-hover: #afafaf;
  --state-colors-stroke-secondary-active: #979797;
  --state-colors-stroke-secondary-disabled: #ebebeb;
  --state-colors-categorical-cat1-hover: #016e60;
  --state-colors-categorical-cat1-active: #006054;
  --state-colors-categorical-cat1-disabled: #5ebcab;
  --state-colors-categorical-cat1-background-hover: #d4e7e3;
  --state-colors-categorical-cat1-background-active: #bbdcd5;
  --state-colors-categorical-cat2-hover: #016c77;
  --state-colors-categorical-cat2-active: #005e69;
  --state-colors-categorical-cat2-disabled: #76cad7;
  --state-colors-categorical-cat2-background-hover: #c7e9ef;
  --state-colors-categorical-cat2-background-active: #abdee6;
  --state-colors-categorical-cat3-hover: #af310a;
  --state-colors-categorical-cat3-active: #9a2a06;
  --state-colors-categorical-cat3-disabled: #ffa584;
  --state-colors-categorical-cat3-background-hover: #ffdbce;
  --state-colors-categorical-cat3-background-active: #ffc8b4;
  --state-colors-categorical-cat4-hover: #9d4602;
  --state-colors-categorical-cat4-active: #893d03;
  --state-colors-categorical-cat4-disabled: #feb688;
  --state-colors-categorical-cat4-background-hover: #ffdbc7;
  --state-colors-categorical-cat4-background-active: #ffc9a8;
  --state-colors-categorical-cat5-hover: #c1175c;
  --state-colors-categorical-cat5-active: #a2114c;
  --state-colors-categorical-cat5-disabled: #fca3b6;
  --state-colors-categorical-cat5-background-hover: #fadbe1;
  --state-colors-categorical-cat5-background-active: #fac8d1;
  --state-colors-categorical-cat6-hover: #a43475;
  --state-colors-categorical-cat6-active: #902d67;
  --state-colors-categorical-cat6-disabled: #ff9ed0;
  --state-colors-categorical-cat6-background-hover: #f4dde7;
  --state-colors-categorical-cat6-background-active: #f6c8de;
  --state-colors-categorical-cat7-hover: #9b3796;
  --state-colors-categorical-cat7-active: #882f84;
  --state-colors-categorical-cat7-disabled: #eea4e7;
  --state-colors-categorical-cat7-background-hover: #f5dbf1;
  --state-colors-categorical-cat7-background-active: #f2c8ed;
  --state-colors-categorical-cat8-hover: #404f9e;
  --state-colors-categorical-cat8-active: #37458c;
  --state-colors-categorical-cat8-disabled: #b8b9ef;
  --state-colors-categorical-cat8-background-hover: #e2e2f2;
  --state-colors-categorical-cat8-background-active: #d3d3ee;
}
