--content-primary: #121212;
--content-primary-(dim): #363636;
--content-secondary: #5a5a5a;
--content-secondary-(dim): #727272;
--content-accent: #346eb7;
--content-accent-(dim): #326891;
--content-positive: #267c30;
--content-negative: #a90111;
--content-breaking: #d0021b;
--content-placeholder: #8b8b8b;
--stroke-primary: #121212;
--stroke-secondary: #979797;
--stroke-tertiary: #dfdfdf;
--background-primary: #ffffff;
--background-secondary: #f8f8f8;
--background-tertiary: #ebebeb;
--background-highlight: #fefad1;
--background-scrim: #121212;
--stroke-_radiohover: #5a5a5a;
--user-inverse-content-primary: #f8f8f8;
--user-inverse-content-primary-(dim): #dfdfdf;
--user-inverse-content-secondary: #bbbbbb;
--user-inverse-content-secondary-(dim): #a3a3a3;
--user-inverse-content-accent: #6ba1dd;
--user-inverse-content-accent-(dim): #7ca7c8;
--user-inverse-content-positive: #63a859;
--user-inverse-content-negative: #ea7980;
--user-inverse-content-breaking: #e14e5b;
--user-inverse-content-placeholder: #8b8b8b;
--user-inverse-stroke-primary: #f8f8f8;
--user-inverse-stroke-secondary: #979797;
--user-inverse-stroke-tertiary: #424242;
--user-inverse-stroke-_radiohover: #c7c7c7;
--user-inverse-background-primary: #121212;
--user-inverse-background-secondary: #2a2a2a;
--user-inverse-background-tertiary: #424242;
--user-inverse-background-highlight: #35352f;
--user-inverse-background-scrim: #121212;
--background-&#127349;-on-media: #ffffff;
--background-&#127349;-on-media-pressed: #121212;
--user-inverse-background-&#127349;-on-media: #121212;
--user-inverse-background-&#127349;-on-media-pressed: #ffffff;
--&#127349;-components-&#127349;-on-media-text-shadow-blur-radius: 0rem;
--&#127349;-components-&#127349;-on-media-scrim-opacity: 0rem;
--&#127349;-components-&#127349;-on-media-darken: #808080;
