:root {
  --content-primary: #f8f8f8;
  --content-primary-dim: #dfdfdf;
  --content-secondary: #bbbbbb;
  --content-secondary-dim: #a3a3a3;
  --content-accent: #6ba1dd;
  --content-accent-dim: #7ca7c8;
  --content-positive: #63a859;
  --content-negative: #ea7980;
  --content-breaking: #e14e5b;
  --content-placeholder: #8b8b8b;
  --stroke-primary: #f8f8f8;
  --stroke-secondary: #979797;
  --stroke-tertiary: #424242;
  --background-primary: #121212;
  --background-secondary: #2a2a2a;
  --background-tertiary: #424242;
  --background-highlight: #35352f;
  --background-scrim: #121212;
  --stroke-radiohover: #c7c7c7;
  --user-inverse-content-primary: #121212;
  --user-inverse-content-primary-dim: #363636;
  --user-inverse-content-secondary: #5a5a5a;
  --user-inverse-content-secondary-dim: #727272;
  --user-inverse-content-accent: #346eb7;
  --user-inverse-content-accent-dim: #326891;
  --user-inverse-content-positive: #267c30;
  --user-inverse-content-negative: #a90111;
  --user-inverse-content-breaking: #d0021b;
  --user-inverse-content-placeholder: #8b8b8b;
  --user-inverse-stroke-primary: #121212;
  --user-inverse-stroke-secondary: #979797;
  --user-inverse-stroke-tertiary: #dfdfdf;
  --user-inverse-stroke-radiohover: #5a5a5a;
  --user-inverse-background-primary: #ffffff;
  --user-inverse-background-secondary: #f8f8f8;
  --user-inverse-background-tertiary: #ebebeb;
  --user-inverse-background-highlight: #fefad1;
  --user-inverse-background-scrim: #121212;
  --background-media-on-media: #121212;
  --background-media-on-media-pressed: #ffffff;
  --user-inverse-background-media-on-media: #ffffff;
  --user-inverse-background-media-on-media-pressed: #121212;
  --media-components-on-media-text-shadow-blur-radius: 1px;
  --media-components-on-media-scrim-opacity: 100px;
  --media-components-on-media-darken: #808080;
}
